@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  background: #17161B;
  color: #fff;
}

*::-moz-selection {
  background: #0800f2;
  color: #ffffff;
}

*::selection {
  background: #0800f2;
  color: #ffffff;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: #FFFFFF12;
  border: 0;
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.link-line {
  padding-bottom: 5px;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.link-line::before {
  content: '';
  position: absolute;
  width: 0%;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.link-line:hover::before {
  width: 100%;
  left: 0;
}

.container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0px 24px;
}

.main__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 24px;
}

.play-button {
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: #ffffff5b;
  width: 81px;
  height: 81px;
  border: 0;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  background: #17161B;
  margin-bottom: 80px;
  font-family: Roboto,sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 15px 0px;
  position: relative;
}

.header__wrap::before {
  content: '';
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  -webkit-box-shadow: 1px 1px 3px #49484d;
          box-shadow: 1px 1px 3px #49484d;
}

.header__logo {
  width: 221px;
  height: 75px;
}

.header__logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 25px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__time {
  font-family: Roboto ,sans-serif;
  font-weight: 400;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px 86px 0px 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

.header__day-item {
  font-size: 12px;
  line-height: 14px;
}

.header__user-btn {
  border-radius: 100px;
  background: url("../image/icon.svg/avatar.png") 0/100% no-repeat;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
}

.header__user-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form__input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: none;
  width: 330px;
  height: 41px;
}

.input__search {
  background-color: #2B2A2F;
  color: #ffffff;
  width: 100%;
  border-radius: 8px;
  padding: 0px 61px 0px 10px;
  width: 330px;
  border: none;
  font-family: Roboto,sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.input__search:focus {
  outline: none;
  border: 1px #3e3d45fc solid;
}

.button__search {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
}

.image__search {
  width: 22px;
  height: 22px;
}

.main__aside {
  background: #17161B;
  height: 100vh;
  z-index: 2;
  color: #fff;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  width: 418px;
}

.aside__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__title {
  font-family: Roboto ,sans-serif;
  font-weight: 400;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.aside__sort {
  margin-left: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16.41px;
}

.aside__sort-text {
  display: block;
  color: #FFFFFF66;
}

.aside__sort-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  font-size: 14px;
  line-height: 16.41px;
}

.aside_sort-batton {
  display: block;
  margin-left: 6px;
  width: 12px;
  height: 14px;
}

.aside_sort-batton:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.aside__trailer {
  padding-right: 43px;
  position: fixed;
  overflow-y: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100% - 55%);
}

.aside__trailer-item {
  height: 100%;
  margin-top: 30px;
  padding: 19px 0px 19px 19px;
  text-align: center;
  width: 371px;
  background: url("../image/aside_cover.png") 0 0/100% no-repeat;
}

.aside__trailer-views {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-align: left;
  margin-bottom: 34px;
}

.aside__trailer-name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.play-img {
  max-width: 30px;
  max-height: 30px;
}

.aside__trailer-info {
  margin-top: 5px;
  text-align: left;
}

.aside__trailer-date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  background: #1c1b1f;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #5d00de00;
          box-shadow: inset 0 0 5px #5d00de00;
  border-radius: 10px red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fefefe;
  border-radius: 10px;
}

.aside__genre {
  padding: 25px 0px 40px 24px;
  position: absolute;
  background-color: #1c1b1f;
  bottom: 0;
  width: 418px;
}

.aside__favorite-title {
  font-family: Roboto ,sans-serif;
  font-weight: 400;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.aside__favorite-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside__favorite-btn {
  margin: 25px 30px 0px 0px;
  border-radius: 100px;
  background-color: #8066F6;
  padding: 5px 10px;
}

.aside__favorite-btn:nth-child(2n) {
  background-color: #E1784F;
}

.aside__favorite-btn:nth-child(5n) {
  background-color: #63CFE1;
}

.aside__add-title {
  margin-top: 30px;
  font-family: Roboto ,sans-serif;
  font-weight: 400;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
}

.aside__add-nav {
  font-family: Roboto ,sans-serif;
  font-weight: 400;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside__add-btn {
  margin: 25px 30px 0px 0px;
  border-radius: 100px;
  background: #2B2A2F;
  padding: 5px 10px;
}

.main__hero {
  margin-left: 36px;
}

.hero__trailer-views {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 22px;
  text-align: left;
}

.hero__trailer-name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 5px;
}

.hero__trailer-date {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.hero__play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.play-img {
  max-width: 30px;
  max-height: 30px;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper {
  width: 962px;
  height: 202px;
  border-radius: 20px;
}

.swiper-slide {
  background: url("../image/hero_cover.png") 0 0/100% no-repeat;
  padding: 19px 0px 19px 19px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  font-size: 18px;
  background-color: #f8eaea39;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #0400f3;
}

.image-slider .swiper-slide {
  height: calc((100% - 30px) / 2);
  overflow: hidden;
}

.swiper-pagination-bullet {
  background-color: #fff;
}
/*# sourceMappingURL=style.css.map */